<a href="https://colab.research.google.com/github/Fuenfgeld/2022TeamADataManagementBC/blob/main/Tutorial-Metadaten/Aufgaben-L%C3%B6sungen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AUFGABE 2: 
ERSTE EXPLORATIVE ANALYSE DES DATENSATZES

Schaut euch den nachfolgenden Datensatz an: 
https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset

Versuche nun zun√§chst die folgenden allgemeinen Fragen zu beantworten:

1. Wer besitzt die Daten
2. Woher kommen die Daten?
3. Zugriffrechte der Daten / Welche Lizenz?
4. Wo werden die Daten genutzt/geteilt?
5. Benutzung / Verwendung der Daten?
6. Wann wurden die Daten erstellt/ge√§ndert?
7.**bold text** Datum der einzelnen Messungen vorhanden?

### Platz f√ºr deine L√∂sung:

1. Svetlana Ulianova (Owner)
2. Alle Datensatzwerte wurden zum Zeitpunkt der √§rztlichen Untersuchung erhoben
3. Public / Unknown
4. Kaggle
5. Klassifizierung von Herzkrankheiten
6. 2019
7. Nicht vorhanden

# √úbung 3: Metadatenschema ausf√ºllen

Analysiere nun den Datensatz genauer, welche Informationen kannst du finden? 
F√ºge hierzu in die erstellte Tabelle alle potentiellen Metadaten und deren Informationen hinzu die du finden kannst. 

| Feld/Name | Inhalt | Format | Referenz | Zusatzinformationen |
| --- | --- | --- | --- | --- |
| age | Age | int | - | Age specified in days |
| ap_hi | Systolic blood pressure | int | - | - |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |

### Deine L√∂sung zu Aufgabe 3:


| Feld/Name | Inhalt | Format | Referenz | Zusatzinformationen |
| --- | --- | --- | --- | --- |
| age | Age | int | - | Age specified in days |
| ap_hi | Systolic blood pressure | int | - | - |
| height | Height | int | - | Specification in cm |
| weight | Weight | float | - | Specification in kg |
| gender | Gender | int (categorical code) | - | 1: women, 2: men |
| ap_lo | Diastolic blood pressure | int | - | - |
| cholesterol | Cholesterol  | int (categorical code) | - | 1: normal, 2: above normal, 3: well above normal |
| gluc | Glucose | int (categorical code) | - | 1: normal, 2: above normal, 3: well above normal |
| smoke | Smoking | int (binary code) | - | - |
| alco | Alcohol intake | int (binary code) | - | - |
| active | Physical activity | int (binary code) | - | - |
| cardio | Presence or absence of cardiovascular disease | int (binary target code) | - | - |
| id | ID Number | int | - | - |

# AUFGABE 4: 
WEITERE ‚ÄúVERSTECKTE‚Äù METADATEN

Es gibt noch weitere Daten, die nicht direkt ersichtlich sind, sich aber aus dem Datensatz generieren lassen. 

1. Welche Daten k√∂nnte man aus den Spalten ‚ÄúK√∂rpergr√∂√üe‚Äù und ‚ÄúGewicht‚Äù ermitteln? 

2. F√ºhre die nachfolgenden Code-Schritte aus. Berechne anschlie√üend die Daten aus 1. und erweitere anschlie√üend die Tabelle um eine weitere Spalte mit den neu generierten Daten.

### Deine L√∂sung zu 4.1:

1. Der BMI l√§sst sich daraus errechnen. BMI = K√∂rpergewicht [kg] / (K√∂rpergr√∂√üe [m])¬≤

### Deine L√∂sung zu 4.2.:

In [ ]:
# BITTE AUSF√úHREN
# importieren der notwendigen Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Datensatz laden
df = pd.read_csv("https://raw.githubusercontent.com/Fuenfgeld/2022TeamADataManagementBC/main/Tutorial-Metadaten/data/new_data.csv", sep = ',', index_col = 0)

# Betrachten der ersten 5 Zeilen des f√ºr diesen Kurs angepassten Datensatzes
df.head(5)

    age  height  weight  ap_hi  ap_lo  smoke  cardio
id
0    50     168    62.0    110     80      2       5
1    55     156    85.0    140     90      0       5
2    51     165    64.0    130     70      1       6
3    48     169    82.0    150    100      1       0
4    47     156    56.0    100     60      0       9

In [ ]:
# F√ºge hier deine L√∂sung ein

# BMI = K√∂rpergewicht [kg] / (K√∂rpergr√∂√üe [m])¬≤
df['bmi'] = df['weight'] / pow(df['height']/100,2)
df.head(10)

    age  height  weight  ap_hi  ap_lo  smoke  cardio        bmi
id
0    50     168    62.0    110     80      2       5  21.967120
1    55     156    85.0    140     90      0       5  34.927679
2    51     165    64.0    130     70      1       6  23.507805
3    48     169    82.0    150    100      1       0  28.710479
4    47     156    56.0    100     60      0       9  23.011177
8    59     151    67.0    120     80      2       3  29.384676
9    60     157    93.0    130     80      2       0  37.729725
12   61     178    95.0    130     90      0       5  29.983588
13   48     158    71.0    110     70      2       5  28.440955
14   54     164    68.0    110     60      2       4  25.282570

# Aufgabe 5
DUBLIN CORE

Fassen Sie die noch fehlenden "Core Elemente" unter der Verwendung der verlinkten Codierung-Standards f√ºr den vorgestellten Datensatz zusammen. Zus√§tzliche Informationen zum Datensatz k√∂nnen [hier](https://github.com/Fuenfgeld/2022TeamADataManagementBC/wiki/3.-Datensatz#zus%C3%A4tzliche-beschreibung) entnommen werden.

Beispielhafte Codierung-Standards:
1. [Thesaurus of Geographic Names (TGN)](http://www.getty.edu/research/tools/vocabularies/tgn/?find=&place=Heidelberg&nation=&prev_page=1&english=Y&popup=P)

2. [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)

3. [Media types](https://www.iana.org/assignments/media-types/media-types.xhtml)

4. [Codes for the Representation of Names of Languages (ISO 639-2)](https://www.loc.gov/standards/iso639-2/php/code_list.php)

5. [List of popular Licenses](https://opensource.org/licenses)

### Platz f√ºr deine L√∂sung: 

1. ID: 7005179 (http://vocab.getty.edu/page/tgn/7005179)
2. YYYY-MM-DD ‚áí ‚Äú2021-05-18‚Äù
3. text ‚áí csv
4. deu 
5. ‚Äúcopyright owner‚Äù ‚áí  MIT license

# Aufgabe 6

1. Was versteht ihr unter dem Begriff Semantik?

2. Wie stehen Semantik und Metadaten in Bezug zueinander?



HINWEIS: Semantik = Interpretation von Daten

### Platz f√ºr deine L√∂sung zu Aufgabe 6:

1. im Prinzip ein ‚ÄúVerst√§ndnis‚Äù der Daten also der Sinn und Inhalt der Daten

2. Semantische Metadaten verleihen den ‚ÄúDaten‚Äù eine Bedeutung sodass diese nicht nur durch einen Menschen, sondern auch einer Maschine Interpretiert werden k√∂nnen. Es wird somit ein Kontext geschaffen der kein menschliches Vorwissen ben√∂tigt.

# Aufgabe 7

Welche Datenfelder weisen keinen semantischen Hintergrund auf?

https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset

### Deine L√∂sung zu Aufgabe 7:

* Smoking ‚Üí Wer raucht? Wie viel wird geraucht? Was wird geraucht?
* Alcohol intake ‚Üí Wer trinkt? Wie viel wird getrunken? Was wird getrunken?
* Physical activity ‚Üí Wer? Was ? Wie viel?

# Aufgabe 8
Unter folgenden Link findet Ihr die standardisierte Bezeichnung des Blutdrucks: https://loinc.org/55284-4/

1. Wie lautet die Empfehlung von LOINC bzgl. des Blutdrucks? 

2. Welche LOINC Codes finden sich jeweils f√ºr den systolischen und diastolischen Blutdruck?

3. In welchen ma√üeinheiten kann man den Systolischen Blutdruck festhalten

### Platz f√ºr deine L√∂sung:

1. Discouraged ü°™ Nicht den systolischen und diastolischen Blutdruck zusammenfassen als ein Schemaelement
2. * 8480-6 ü°™ Systolic blood pressure
   * 8462-4 ü°™ Daistolic blood pressure

3. * mm[Hg] ü°™     Example UCUM Units
   * Mm Hg ü°™ REGENSTRIEF

# Aufgabe 9

Unter folgendem Link findet Ihr eine Klassifizierung der Krankheiten:
https://www.icd-code.de/icd/code/ICD-10-GM.html

1. Versucht einen ICD-10 Code Wertebereich zu finden der allgemein Herzkrankheiten beschreibt. Welche Wertebereich findet sich?

2. Der Datensatz beschreibt somit nur allgemein eine Herzkrankheit aber nicht genau welche. Welcher ICD-10 Code w√ºrde eine Prim√§re Rechtsherzinsuffizienz beschreiben?

HINWEIS: Herzkreislaufkrankheiten (Cardiovascular Disease) z√§hlen zu Krankheiten des Kreislaufsystems.

### Platz f√ºr deine L√∂sung:

1. I00-I99
2. I50.00

# Aufgabe 10


1. Durchforstet die Ontologie nach "Tobacco use and exposure".
2. Versucht durch die Basisklasse "Tobacco use and exposure" die Subklasse "Smoker" zu finden und notiert bitte die ID der Klasse.
3. W√ºrdet Ihr sagen das "Smoker" eine korrekte Klassifizierung darstellt oder k√∂nnte man noch das Element noch genauer definieren?
4. Wie m√ºsste man in den Daten einen moderaten Raucher festhalten, der am Tag 10-19 Zigaretten raucht?


‚Üí https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=root

### Platz f√ºr deine L√∂sung zu Aufgabe 10:

1. https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F229819007&jump_to_nav=true
2. * https://bioportal.bioontology.org/ontologies/SNOMEDCT?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F77176002#details
   * 77176002

3. Es fehlt der Kontext
4. * Moderate cigarette smoker (10-19 cigs/day)
   * https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=http%3A%2F%2Fpurl.bioontology.org%2Fontology%2FSNOMEDCT%2F160604004#details