<a href="https://colab.research.google.com/github/Fuenfgeld/2022TeamADataManagementBC/blob/main/Tutorial-Metadaten/Aufgaben.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AUFGABE 2: 
ERSTE EXPLORATIVE ANALYSE DES DATENSATZES

Schaut euch den nachfolgenden Datensatz an: 
https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset

Versuche nun zunächst die folgenden allgemeinen Fragen zu beantworten:

1. Wer besitzt die Daten
2. Woher kommen die Daten?
3. Zugriffrechte der Daten / Welche Lizenz?
4. Wo werden die Daten genutzt/geteilt?
5. Benutzung / Verwendung der Daten?
6. Wann wurden die Daten erstellt/geändert?
7. Datum der einzelnen Messungen vorhanden?

### Platz für deine Lösung:

1. 
2. 
3. 
4. 
5. 
6. 
7.

# Übung 3: Metadatenschema ausfüllen

Analysiere nun den Datensatz genauer, welche Informationen kannst du finden? 
Füge hierzu in die erstellte Tabelle alle potentiellen Metadaten und deren Informationen hinzu die du finden kannst. 

| Feld/Name | Inhalt | Format | Referenz | Zusatzinformationen |
| --- | --- | --- | --- | --- |
| age | Age | int | - | Age specified in days |
| ap_hi | Systolic blood pressure | int | - | - |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |

### Deine Lösung zu Aufgabe 3:


| Feld/Name | Inhalt | Format | Referenz | Zusatzinformationen |
| --- | --- | --- | --- | --- |
| age | Age | int | - | Age specified in days |
| ap_hi | Systolic blood pressure | int | - | - |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |
|  |  |  |  |   |

# AUFGABE 4: 
WEITERE “VERSTECKTE” METADATEN

Es gibt noch weitere Daten, die nicht direkt ersichtlich sind, sich aber aus dem Datensatz generieren lassen. 

1. Welche Daten könnte man aus den Spalten “Körpergröße” und “Gewicht” ermitteln? 

2. Führe die nachfolgenden Code-Schritte aus. Berechne anschließend die Daten aus 1. und erweitere anschließend die Tabelle um eine weitere Spalte mit den neu generierten Daten.

### Deine Lösung zu 4.1:

1.

### Deine Lösung zu 4.2.:

In [16]:
# BITTE AUSFÜHREN
# importieren der notwendigen Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Datensatz laden
df = pd.read_csv("https://raw.githubusercontent.com/Fuenfgeld/2022TeamADataManagementBC/main/Tutorial-Metadaten/data/new_data.csv", sep = ',', index_col = 0)

# Betrachten der ersten 5 Zeilen des für diesen Kurs angepassten Datensatzes
df.head(5)

    age  height  weight  ap_hi  ap_lo  smoke  cardio
id
0    50     168    62.0    110     80      2       5
1    55     156    85.0    140     90      0       5
2    51     165    64.0    130     70      1       6
3    48     169    82.0    150    100      1       0
4    47     156    56.0    100     60      0       9

In [ ]:
# Füge hier deine Lösung ein

# Aufgabe 5
DUBLIN CORE

Fassen Sie die noch fehlenden "Core Elemente" unter der Verwendung der verlinkten Codierung-Standards für den vorgestellten Datensatz zusammen. Zusätzliche Informationen zum Datensatz können [hier](https://github.com/Fuenfgeld/2022TeamADataManagementBC/wiki/3.-Datensatz#zus%C3%A4tzliche-beschreibung) entnommen werden.

Beispielhafte Codierung-Standards:
1. [Thesaurus of Geographic Names (TGN)](http://www.getty.edu/research/tools/vocabularies/tgn/?find=&place=Heidelberg&nation=&prev_page=1&english=Y&popup=P)

2. [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)

3. [Media types](https://www.iana.org/assignments/media-types/media-types.xhtml)

4. [Codes for the Representation of Names of Languages (ISO 639-2)](https://www.loc.gov/standards/iso639-2/php/code_list.php)

5. [List of popular Licenses](https://opensource.org/licenses)

### Platz für deine Lösung: 

1. 
2. 
3. 
4. 
5.

# Aufgabe 6

1. Was versteht ihr unter dem Begriff Semantik?

2. Wie stehen Semantik und Metadaten in Bezug zueinander?



HINWEIS: Semantik = Interpretation von Daten

### Platz für deine Lösung zu Aufgabe 6:

1. 
2.

# Aufgabe 7

Welche Datenfelder weisen keinen semantischen Hintergrund auf?

https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset

### Deine Lösung zu Aufgabe 7:

# Aufgabe 8
Unter folgenden Link findet Ihr die standardisierte Bezeichnung des Blutdrucks: https://loinc.org/55284-4/

1. Wie lautet die Empfehlung von LOINC bzgl. des Blutdrucks? 

2. Welche LOINC Codes finden sich jeweils für den systolischen und diastolischen Blutdruck?

3. In welchen maßeinheiten kann man den Systolischen Blutdruck festhalten

### Platz für deine Lösung:

1. 
2. 
3.

# Aufgabe 9

Unter folgendem Link findet Ihr eine Klassifizierung der Krankheiten:
https://www.icd-code.de/icd/code/ICD-10-GM.html

1. Versucht einen ICD-10 Code Wertebereich zu finden der allgemein Herzkrankheiten beschreibt. Welche Wertebereich findet sich?

2. Der Datensatz beschreibt somit nur allgemein eine Herzkrankheit aber nicht genau welche. Welcher ICD-10 Code würde eine Primäre Rechtsherzinsuffizienz beschreiben?

3. Hinweis = Herzkreislaufkrankheiten (Cardiovascular Disease) zählen zu Krankheiten des Kreislaufsystems.

### Platz für deine Lösung:

1. 
2. 
3.

# Aufgabe 10


1. Durchforstet die Ontologie nach "Tobacco use and exposure".
2. Versucht durch die Basisklasse "Tobacco use and exposure" die Subklasse "Smoker" zu finden und notiert bitte die ID der Klasse.
3. Würdet Ihr sagen das "Smoker" eine korrekte Klassifizierung darstellt oder könnte man noch das Element noch genauer definieren?
4. Wie müsste man in den Daten einen moderaten Raucher festhalten, der am Tag 10-19 Zigaretten raucht?


→ https://bioportal.bioontology.org/ontologies/SNOMEDCT/?p=classes&conceptid=root

### Platz für deine Lösung zu Aufgabe 10:

1. 
2. 
3. 
4.